<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <div id="container">    
    <ion-grid>
      <ion-row>
        <ion-col>
          <p> <strong>Conn: </strong> {{ connStatus }} </p>
        </ion-col>
        <ion-col>
          <p> <strong>Latency: </strong> {{ latency }} </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h2>Accelerometer Data</h2>
          <p> <strong>(X, Y, Z)</strong></p>
          <p> (
            {{ acceleration ? acceleration.x.toFixed(4) : '-' }}, 
            {{ acceleration ? acceleration.y.toFixed(4) : '-' }}, 
            {{ acceleration ? acceleration.z.toFixed(4) : '-' }}
          )
          </p>
          <p>{{ acceleration ? acceleration.timestamp : '-' }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>          
          <h2>Gyroscope Data</h2>
          <p> <strong>(X, Y, Z)</strong></p>
          <p> (
            {{ gyrosOrientation ? gyrosOrientation.x.toFixed(4) : '-' }}, 
            {{ gyrosOrientation ? gyrosOrientation.y.toFixed(4) : '-' }}, 
            {{ gyrosOrientation ? gyrosOrientation.z.toFixed(4) : '-' }}
          )
          </p>
          <p>{{ gyrosOrientation ? gyrosOrientation.timestamp : '-' }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>          
          <h2>Magnometer Data</h2>
          <p> <strong>(X, Y, Z)</strong></p>
          <p> (
            {{ magnometer ? magnometer.x.toFixed(4) : '-' }}, 
            {{ magnometer ? magnometer.y.toFixed(4) : '-' }}, 
            {{ magnometer ? magnometer.z.toFixed(4) : '-' }}
          )
          </p>
          <p>{{ magnometer ? magnometer.timestamp : '-' }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    
    


  </div>
</ion-content>
